*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    background: rgb(27, 22, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0,0,0,1);
}
.container .left_slide
{
    position: relative;
    background: #358D93;
    padding: 40px;
}
.container .right_slide
{
    position: relative;
    background: #aca6a6;
    padding: 40px;
}
.verticale-ligne
{
    border-left: 1px solid black;
    height: 100px;

}
.profiltext
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(255, 255,255, 0.2);
}
.profiltext h2
{
    color: black;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profiltext h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.profile-img
{
    height: 100px;
    width: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin-left: 85%;
   /* border: 1px solid #358D93;
    box-shadow: 6px 7px 9px 5px #358D93;*/
}
.profile-img img
{
    width: 100%;
    border-radius: 50%;
    
}
.apropos h3
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em; 
}
.apropos h5
{
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
}
.contactinfo
{
    padding-top: 40px;
    
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.contactinfo ul
{
    position: relative;
}
.contactinfo ul li .icon
{
    display:inline-block;
    width: 30px;
    font-size: 18px;
    color: indigo;
}
.contactinfo ul li .text
{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.sous-title
{
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
}
.competances0
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.progress-bar{
    width: 80%;
    height: .4rem;
    background-color: #2f81ed5b;
    position: relative;
    border-radius: 12px;
}
.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #2D9CDB;
    border-radius: 12px;
}
.php-progress{
    width: 70%;
}
.ap-progress{
    width: 90%;
}
.ms-progress{
    width: 85%;
}
.ht-progress{
    width: 40%;
}
.progress-bar2{
    width: 80%;
    height: .4rem;
    background-color: #2f81ed5b;
    position: relative;
    border-radius: 12px;
}
.bl-progress{
    width: 70%;
}
.bt-progress{
    width: 70%;
}
.jq-progress{
    width: 80%;
}
.js-progress{
    width: 40%;
}
.methodes0
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.perl-progress{
    width: 40%;
}
.ma-progress{
    width: 40%;
}
.md-progress{
    width: 40%;
}
.mo-progress{
    width: 40%;
}
.para
{
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
}
